#root>div:first-child{
    margin: auto;
    max-width: 1440px;
}

main{
    padding: 1rem;
    min-height: 27.2vh;
    /* background-color: #a1a1a14d; */
}

@media screen and (max-width:500px){
    main{
        margin-top: 61px;    
    }
}