@font-face {
  font-family: 'Lato';
  src: url('./assets/font/Lato/Lato-Black.ttf'),
    url('./assets//font/Lato/Lato-BlackItalic.ttf'),
    url('./assets//font/Lato/Lato-Bold.ttf'),
    url('./assets//font/Lato/Lato-Regular.ttf'),
    url('./assets//font/Lato/Lato-Italic.ttf'),
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

ul, button {
  margin: 0;
  padding: 0;
}