 .email{
    width: 350px;
    padding: 10px;
    border: 1px solid #d6d6d6;
}

.email .btn-primary{
    background-color: #F4A261;
}
.email .btn-primary:hover{
    background-color: #f8903b;
}


.footer p{
    color: red;
}