.head-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    /* border: 1px solid red; */
}

.logo {
    padding-top: 6px;
    /* border: 1px solid green; */
    width: 150px;
}

.logo img {
    width: 100%;
}

.user-main {
    width: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger-icon {
    display: none;
}

.burger-container {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.cart-container>span {
    margin-left: 10px;
}




/* --------------sideBar------------- */
.sidebar {
    background-color: #264653;
    height: 0;
    color: #fff;
    transition: height .3s ease-in-out;
    overflow: hidden;
}

.active{
    height: 260px;
    transition: height 0.3s ease-in-out;
}

.active ul{
    opacity: 1 !important;
    transition: opacity 0.5s ease-in-out;
}

.sidebar ul {
    margin-top: 10px;
    padding: 0;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
}


@media screen and (max-width: 900px) {
    .hamburger-icon {
        display: block;
    }

    .show-burger {
        display: flex !important;
    }

    .user-main {
        display: none;
    }

    .navbar {
        display: none;
    }

    .mob-nav {
        display: block;
        /* width: 100vw; */
        height: 100% !important;
    }

    .mob-nav ul {
        flex-direction: column;
    }
}


@media screen and (max-width:500px){
    .head-container{
        padding: 10px;
    }
    .logo{
        width: 100px;
    }
    .search-container{
        height: 1.8rem;
    }
}