.navbar {
    margin-top: 61px;
    background-color: #264653;
    color: #fff;
    height: 38px;
    /* overflow-x: auto; */
}

.navbar::-webkit-scrollbar {
    display: none;
}

.navbar>ul {
    width: 100%;
    height: 100%;
    padding-left: 30px;
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 50px;
    font-size: 1rem;
}

.navbar>ul>li {
    position: relative;
}

.navbar ul a {
    text-decoration: none;
    color: #fff;
}

.navbar>ul>li:hover a {
    color: #F4A261;
}

.navbar .show-border {
    color: #F4A261 !important;
}

.navbar .show-border::after,
.navbar ul a:hover::after {
    content: "";
    position: absolute;
    display: block;
    height: 3px;
    left: -8px;
    top: 28px;
    background-color: #F4A261;
    transition: .2s ease-in;
    width: 0;
}

.navbar .show-border::after,
.navbar ul a:hover::after {
    width: calc(100% + 18px);
}

.navbar>ul>li:hover .sub-category {
    display: block;
}

.navbar .sub-category {
    width: 90px;
    margin-top: 7px;
    padding-top: 10px;
    display: none;
    list-style-type: none;
    background-color: #264653;
    position: absolute;
    left: -8px;
    top: 15px;
    z-index: 20;
    color: #fff;
}

.sub-category:hover {
    display: block;
}

.navbar .cat-cont a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.navbar .sub-category li {
    cursor: pointer;
    padding: 10px;
}

.navbar .sub-category li:hover{
    background-color: #345f70;
}

@media screen and (max-width:900px) {

    .navbar .show-border::after,
    .navbar ul a:hover::after {
        width: calc(100% + 15px);
        top: 26px;
    }
}

@media screen and (max-width:500px) {
    .navbar {
        display: none;
    }

    /* .navbar>ul {
        flex-direction: column;
    } */
}