.p-card-container {
    display: flex;
    margin: 2vmax auto;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.pagination-box{
    display: flex;
    justify-content: center;
    margin: 5vmax;
}

.loading{
    height: 50vh !important;
}