a {
    text-decoration: none !important;
}

.productCard {
    width: 250px;
    height: 30vmax;
    min-height: 220px;
    display: flex;
    flex-direction: column;
    color: rgba(48, 48, 48);
    transition: all 0.3s ease;
    margin: 1vmax;
    padding: 10px;
    padding-bottom: 0.5vmax;
}

.productCard>img {
    width: 14vmax;
    max-height: 17.8vmax;
    margin: auto;
}

.productCard .p-rating-cont {
    margin: 0 0.5vmax;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.p-rating-cont>span,
.actPrice {
    font-size: 0.8vmax;
    color: rgba(15, 15, 15, 0.5);
    margin-left: 1vmax;
}

.productCard p {
    height: 45px;
    text-decoration: none;
    font-size: 1rem;
    margin: 1vmax 0.5vmax;
    margin-bottom: 0;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.discPrice {
    color: brown;
    font-size: 1rem;
}

.actPrice {
    text-decoration: line-through;
}

.p-rating-cont>span, .actPrice{
    font-size: 0.8rem;
}

.productCard .discount {
    padding: 0 !important;
}


.productCard .p-price-cont {
    margin: 0.5vmax;
    align-items: center;
}

.productCard:hover {
    box-shadow: 0 0 0.8px rgba(15, 15, 15, 0.479);
    transform: translateY(-1vmax);
}

@media screen and (max-width: 600px) {
    .productCard {
        width: 40vmax;
        height: 300px;
        margin: 1vmax 0;
        align-items: center;
    }

    .productCard>img {
        width: 20vmax;
    }

    .productCard p {
        font-size: 0.9rem;
        height: 42px;
    }

    .productCard>div {
        margin: 0vmax;
        display: block;
    }

    .productCard>span {
        font-size: 1.5vmax;
    }

    .productCard>div>span {
        margin: 0 0.5vmax;
        font-size: 1.5vmax;
    }
    
    .discPrice{
        font-size: 2vmax !important;
    }

}