
.user-container{
    position: relative;
}

.user-container>.user-btn {
    font-size: 1rem;
    color: #fff;
    width: 100px;
    height: 2.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.user-btn:hover + .dropdown-cont{
    display: block;
    /* background-color: #2A9D8F; */
    
}

.dropdown-cont{
    width: 200px;
    position: absolute;
    display: none;
}

.dropdown-cont ul{
    list-style-type: none;
}